body {
    background: radial-gradient(white, #FFA9A1);
}
.text{
    text-align: center;
    font-family: 'Langar', cursive;
    font-size: 40px;
    color: #FFB6C1;
}
.ex_number{
    position: absolute;
    top: 19%;
    left: 45%;
    padding: 20px;
    background: #472e2e;
    border-radius: 30px;
    outline: none;
    color: white;
    text-align: center;
    width: 100px;
    font-size: 20px;
}
.first{
    border: 3px solid #855555;
    font-size: 20px;
    color: #472e2e;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s; 
    overflow: hidden;
    margin: 0;
    border-radius: 50px;
}
.first::before,
.first::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #472e2e;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}
.first::after{
    opacity: 1;
    transition-delay: .1s;
}
.first:hover{
    color: #fff ;
}
.first:hover::before,
.first:hover::after {
    left: 0;
}
.first{
    position: absolute;
    top: 34%;
    left: 49.6%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0 auto 0;
    padding: 0 40px 0 40px;
    z-index: 100;
    background-color: #fff;
}
.logo{
    display:block;
    margin:auto;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    }
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.form-control {
    display: ;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .mesto{
        margin: 0;
    }
    *{
        font-family: 'Langar', cursive;
    }
.place-gift{
    display: ;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
*{
    font-family: 'Langar', cursive;
}
.place-gift{
    display: block;
    position: absolute;
    top: 71%;
    left: 28%;
    font-size: 100px;
}
.gift{
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 50px;
    color: #B22222
}
